[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deep-disfluency = {editable = true, ref = "pip", git = "https://github.com/nagasaki45/deep_disfluency"}
fluteline = "*"
watson-streaming = "*"
sounddevice = "*"

[dev-packages]

[requires]
python_version = "2.7"
